* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #DAF7A6;
    overflow-x: hidden;
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    background-color: #FFC300;
    margin-bottom: 2%;
}

h1 {
    display: flex;
    width: 100%;
    justify-content: center;
}

button {
    margin-left: 2%;
    border-radius: 30px ;
    height:50% ;
    width: 8%;
    border:none ;
    background-color: #FF5733;
    color: white;
}

.content, .firstContent, .firstLine, .secondLine, .thirdLine, .fourthlyLine, .secondLine, a {
    display: flex;
    width: 100%;
}

.content {
    padding: 2%;
    flex-direction: column;
    height: 30%;
}

.firstContent {
    background-color: #8EA85E;
    border-radius: 30px;
    align-items: center;
}

.right {
    margin: 0 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right > *{
    padding: 2%;
    margin: 2% 0;
    background-color: #B2D672;
    border-radius: 30px;
}

.firstLine {
    align-items: center;
    justify-content: space-between;
}

.secondLine {
    flex-direction: row-reverse;
}

.thirdLine {
    font-style: italic;
}

.firstContent > img{
    width: 20%;
    height: 20%;
    padding-left: 2%;
}

li {
   display: flex;
    margin: 2%;
}

a {
    flex-direction: column;
    background-color: #8EA85E;
    border-radius: 30px;
    margin: 2% 0;
}

.Prole {
    background-color: #B2D672;
    border-radius: 30px;
}

.roleName {
    font-size: 150%;
    background-color: #B2D672;
    border-radius: 0 30px 30px 0 ;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-decoration-color: #B2D672;
}
li > img{
    border-radius: 30px 0 0 30px;
}

footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    background-color: #FF5733;
}